<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <meta name="description" content="API Documentation. It's built with NodeJS, ExpressJS & Mongoose" />
          <meta author="Toufiq Hasan Kiron" />
          <link rel="shortcut icon" href="https://www.toufiqhasankiron.com/favicon.ico" type="image/x-icon">
          <script src="https://cdn.tailwindcss.com"></script>
          <link href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css" rel="stylesheet" type="text/css" />
          <title>API Documentation</title>
          <style>
                    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

                    body {
                              font-family: 'Poppins', sans-serif;
                    }
          </style>
</head>

<body class="bg-black">
          <div class="flex flex-col justify-center items-center h-screen">
                    <div class="avatar mb-8">
                              <div
                                        class="w-48 md:w-72 rounded-full ring ring-primary ring-offset-base-100 ring-offset-2">
                                        <a href="https://toufiqhasankiron.com" target="_blank">
                                                  <img
                                                            src="https://res.cloudinary.com/kirondev/image/upload/v1700740969/fotor-ai-202309191952_bschm6.jpg" />
                                        </a>
                              </div>
                    </div>
                    <h1
                              class="flex justify-center items-center text-center text-2xl md:text-3xl lg:text-4xl text-white px-4 md:px-0">
                              API Documentation
                    </h1>
                    <span class="text-white text-center mt-[20px]">Dev - <a href="https://toufiqhasankiron.com"
                                        target="_blank" class="text-accent font-semibold text-md">Toufiq Hasan
                                        Kiron</a></span>
                    <a href="https://github.com/kiron0" target="_blank"
                              class="btn btn-xs md:btn-sm btn-primary mt-4 mb-3">GitHub</a>
          </div>
</body>

</html>